
@{
    ViewBag.Title = "Produto";
}

<form>
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="">Nome</label>
            <input type="text" class="form-control col-sm-12" id="nome">

        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-12">
            <label for="exampleInputPassword1">Descrição</label>
            <input type="text" class="form-control col-sm-12" id="descricao">
        </div>
    </div>


    <label for="exampleInputPassword1">Categoria de Produto</label>
    <select class="form-control col-md-4" id="categoria">
        <option value="1">Eletrônico</option>
        <option value="2">Informática</option>
        <option value="3">Celulares</option>
        <option value="4">Moda</option>
        <option value="5">Livros</option>
    </select>

    <div class="form-group form-check" style="margin-left: 400px; margin-top: -35px">
        <input type="checkbox" class="form-check-input" id="check">
        <label class="form-check-label" for="exampleCheck1">Perecivel?</label>
    </div>

    <button type="submit" class="btn btn-primary" id="btnCadastro" style="margin-left: 700px; margin-top: -70px">Cadastrar</button>

</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Categoria do Produto</th>
            <th scope="col">Ativo</th>
            <th scope="col">Perecivel</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Pen drive</td>
            <td>Pen drive 8gb</td>
            <td>Ativo</td>
            <td>Eletrônico</td>
            <td>Não</td>
            <td>
                <button type="button" class="btn btn-success">Atualizar</button>
                <button type="button" class="btn btn-danger">Deletar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Iphone 5s</td>
            <td>Iphone 5s 16 gbytes - Apple</td>
            <td>Celulares</td>
            <td>Ativo</td>
            <td>Não</td>
            <td>
                <button type="button" class="btn btn-success">Atualizar</button>
                <button type="button" class="btn btn-danger">Deletar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>TV LG Smart</td>
            <td>TV LG Smart 100 pol</td>
            <td>Eletrônico</td>
            <td>Ativo</td>
            <td>Não</td>
            <td>
                <button type="button" class="btn btn-success">Atualizar</button>
                <button type="button" class="btn btn-danger">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>